<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Details</title>
</head>
<body>
    <h1> Asian Cuisine</h1>
    <h2> Please select a restaurant below!</h2>
    <div>
        <ul>
            <li><a href="./twoSticks.ejs">Two Sticks</a></li>
            <li><a href="./papaThai.ejs">Papa Thai</a></li>
            <li><a href="./shanghaiWok.ejs">Shanghai Wok</a></li>
        </ul>
    </div>
</body>
<%- include('./partials/footer.ejs') %>
</html>