<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Restaurant</title>
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        h1{
            font-size: 2.5em;
            color: #333;
            margin-bottom: 10px;
        }
        
        form{
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 300px;
        }

        label{
            display: block;
            font-weight: bold;
            margin: 10px 0;
        }

        input{
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button{
            background-color: #007BFF;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            text-transform: uppercase;
            font-weight: bold;
            cursor: pointer;
        }

        button:hover{
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <h1> Add Your Own Restaurant!</h1>
    <form method="POST" action="/create-Restaurant">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="menu">Menu (comma-separated):</label>
        <input type="text" id="menu" name="menu" required>

        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone" required>

        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>

        <button type="submit">Add Restaurant</button>
    </form>
</body>
<%- include('./partials/footer.ejs') %>
</html>