<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery App</title>
</head>
<body>
    <h1> Welcome to Delivery App</h1>
    <h3> Select A Cuisine Below </h3>
    <h6> Please select one of the cuisines below </h6>
    <div>
        <%- include('./partials/header.ejs') %>
    </div>
</body>
<%- include('./partials/footer.ejs') %>
</html>