<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery App</title>
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        h1{
            font-size: 1.5em;
            color: #333;
            margin-bottom: 10px;
        }

        h3{
            font-size: 1.5em;
            color: #666;
            margin-bottom: 10px;
        }

        h6{
            font-size: 1em;
            color: #888;
            margin-bottom: 20px;
        }

        div{
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgna(0, 0, 0, 0.1);
            padding: 20px;
        }
    </style>
</head>
<body>
    <h1> Welcome to Delivery App</h1>
    <h3> Select A Cuisine Below </h3>
    <h6> Please select one of the cuisines below </h6>
    <div>
        <%- include('./partials/header.ejs') %>
    </div>
    <div>
        <h6>
            Don't see something you like? Add you restaurant here! Just needs to wait for approval to show on app! <a href="./createRest.ejs"> Add Restaurant </a>
        </h6>
    </div>
</body>
<%- include('./partials/footer.ejs') %>
</html>